:root {
     --col1: 20px;
     --col2: 350px;
     --col3: 480px;
     --col4: 700px;
     --font1: Segoe UI,Open Sans,Verdana,Arial,Helvetica,sans-serif;
     --font-size1:16pt;
     --font2: monospace;
     --font-size2: 10pt;
     --width1: 40px;
     --width2: 80px;
     --width3: 320px;
     --width4: 600px;
     --color1:  rgb(68, 114, 196);
     --pixelSize: 5px;
     --charSize: 10px;
}

body{

    background-color: var(--color1);
    --displayProgram: block;
    font-size: var(--font-size2);
}

body.profile1 {
    --displayProgram: none;
    --displayProgram: none;
}
body.profile2 {
    --displayProgram: block;
}

.title {
    display: block;
    font-family: var(--font1);
    font-size: var(--font-size1);
    color: white;
    padding-bottom: 10px;
}
.program > .title, .processor > .title, .memory > .title {
    text-align: center;
}

.value {
    display: block;
    font-family: var(--font2);
    color: black;
    background-color: white;
}

.value.highlighted {
    background-color: orange;
}

.program {
    display: var(--displayProgram);
    width: 300px;
    position: absolute;
    left: var(--col1);
    top: 0px;
}

.program .controls {
    display: block;
    margin-top: 10px;;
}
.program button, button#clear, button#load  {
    border: 2px;
    border-style: solid;
    border-color: var(--color1);
    display: block;
    float: left;
    color: var(--color1);
    background-color: white;
    font-family: var(--font1);
    font-size: var(--font-size1);
    margin-right: 10px;
    padding: 0px 5px 0px 5px;
}
.program button:last-child {
    margin-right: 0px;
    padding-right: 3px;
}
 button:hover, button#clear:hover, button#load:hover {
    border-color: white;
}
.edit #edit {
    display: none;
}
#submit, #revert {
    display: none;
}
.edit #submit, .edit #revert {
    display: block;
}
.program.edit #edit {
    display: none;
}

.source {
    padding: 0px;
    font-family: var(--font2);
    font-size: 10pt;
    background-color:white;
    display: block;
    height: 580px;
}

.source .comment {
    color: green;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;  
}
.source .label {
    font-weight: bold;
}

.source .line {
    color: darkgrey;
    float: left;
    width: 29px;
}

.source .current {
    background-color: orange;
}

.source .break {
    background-color: red;
}

.source textarea {
    font-family: var(--font2);
    font-size: 10pt;
    padding:0; 
    border:0; 
    white-space:pre;
    height: 580px;
    width: 300px;
}
.processor {
    display: block;
    width: 300px;
    position: absolute;
    left: var(--col2);
    top: 0px;
    height: 100%;
}

.processor .title {
    display: block;
}
    .registers {
        display: block;
        position: absolute;
    }
    .registers .title {
        font-size: var(--font-size2);
    }
    .register {
        display: block;
        width: 120px;
    }
    .register .name {
        font-family: var(--font2);
        color: white;
        float: left;
        width: 30px
    }

    .register .value {
        display: block;
        padding-right: 5px;
        width: var(--width2);
        float: left;
        text-align: right;
    }

    .flags {
        display: block;
        position: absolute;
        top: 240px;
        left: 130px;
    }
    .flags .title {
        font-size: var(--font-size2);
        position: absolute;
        top: 13px;
        width: 100px;
    }


    .flags .name, .flags .value {
        position: absolute;
        left: 80px;
        letter-spacing: 2px;
        font-family: var(--font2);
        padding-left:2px;
        padding-right:2px;
        display: inline;
    }
    .flags .name {
        top: 5px;
        display: block;
        color: white;
     }

     .flags .value {
        top: 20px;
     }

     .instruction {
         display: block;
         position: absolute;
         width: 200px;
         top: 190px;
         left: 130px;
     }

     .instruction .title {
         font-size: var(--font-size2);
         float: left;
         width: 50px;
     }

    .instruction .values {
        display: block;
        position: absolute;
        top: 5px;
        left: 80px;
        width: 110px;
    }

     .counter {
         display: block;
         position: absolute;
         width: 140px;
         left: 130px;
         top: 140px;
     }
     .counter .value {
         position: absolute;
         top: 5px;
         left: 80px;
         width: 110px;
     }

     .counter .title {
         font-size: var(--font-size2);
     }
 
.processor .controls {
    display: block;
    position: absolute;
    top: 30px;
    left: 130px;
}
.processor .controls button {
    float: left;
    border: 0px;
    padding: 0px;
    width: 50px;
    height: 50px;
    margin: 2px;
}
button img {
    border: 1px;
    border-style: solid;
    border-color: var(--color1);
    width: 50px;
    height: 50px;
}
button img:hover { 
    border-color: white;
}

.io {
    display: block;
    position: absolute;
    left: 0px;
    top: 300px;
}
.pixels, .chars, .console, .input {
    position: absolute;
    display: block;
    width: var(--width3);
    color: black;
    font-family: var(--font2);
}
.pixels {
top: 120px;
height: 240px;
}
.chars {}
top: 120px;
height: 240px;
padding-left: 1px;
}

.pixels {
    background-color: white;
}

.pixels1 div {
    float: left;
    height: var(--pixelSize);
    width: var(--pixelSize);
}

.pixels2 div {
    float: left;
    height: calc(var(--pixelSize)*2);
    width: calc(var(--pixelSize)*2);
}

.chars {
    background: none;
}
.chars div {
    height: calc(var(--pixelSize)*3);
    width: calc(var(--pixelSize)*2);
    float: left;
    font-size: 14px;
}

.chars div:empty {
    background:none;
    z-index: 2;
}
.console {
  height: 61px;
  width: 315px;
}

#input {
    position: absolute;
    background-color: white;
    top: 80px;
    height: 20px;
  }

.memory {
    display: block;
    width: 400px;
    position: absolute;
    top: 0px;
    left: 700px;
}
.format {
    background-color: white;
    font-family: var(--font2);
}
.address, .page .number {
    display: block;
color: white;
font-family: monospace;
float: left;
}

.row .address {
    width: var(--width1);
}

.header .address, .word {
    font-family: monospace;
    width: var(--width2);
    padding-left: 5px;
    padding-right: 5px;
    text-align: right;
    float: left;
}
.page {
    display: block;

}
.page .number {
    color: black;
    background: white;
    padding-left: 2px;
    padding-right: 2px;
    margin-left: 12px;
    margin-right:8px;
}
.table, .row, .header  {
    display: block;
}

.word {
    color: black;
    background: white;
}

button#clear {
    float: right;
    margin-right: 0;
    margin-top: 10px;
}
.links {
    position: absolute;
    top: 640px;
    font-family: var(--font1);
    font-size: var(--font-size2);
}
.links a {
    margin-right: 20px;
}
a:visited {
    color: white;
}

.credits {
    position: absolute;
    top: 610px;
    display: block;
    font-family: var(--font1);
    font-size: 12pt;
    color: white;
}

