:root {
     --col1: 20px;
     --col2: 350px;
     --col3: 480px;
     --col4: 700px;
     --font1: Segoe UI,Open Sans,Verdana,Arial,Helvetica,sans-serif;
     --font-size1:16pt;
     --font2: monospace;
     --font-size2: 10pt;
     --width1: 48px;
     --width2: 80px;
     --width3: 320px;
     --width4: 600px;
     --color1:  rgb(68, 114, 196);
     --pixelSize: 5px;
     --charSize: 10px;
     --ur: block;
     --flags: block;
}

body{

    background-color: var(--color1);
    --displayProgram: block;
    font-size: var(--font-size2);
}

body.profile-1 {
    --displayProgram: none;
    --col2: 20px;
    --col3: 150px;
    --col4: 350px;
    --ur: none;
    --flags: none;
}


.title {
    display: block;
    font-family: var(--font1);
    font-size: var(--font-size1);
    color: white;
    padding-bottom: 5px;
}
#program > .title, #processor > .title, #io > .title, .memory > .title {
    text-align: center; 
}

#program {
    display: var(--displayProgram);
}

.value {
    display: block;
    font-family: var(--font2);
    color: black;
    background-color: white;
}

.value.highlighted {
    background-color: orange;
}

#program {
    display: var(--displayProgram);
    width: 300px;
    position: absolute;
    left: var(--col1);
    top: 0px;
}

#program-controls {
    display: block;
    padding-top: 5px;
}

.running #program-controls {
    display: none;
}

#program button, button#clear {
    border: 2px;
    border-style: solid;
    border-color: var(--color1);
    display: block;
    float: left;
    color: var(--color1);
    background-color: white;
    font-family: var(--font1);
    font-size: var(--font-size1);
    margin-right: 10px;
    padding: 0px 5px 0px 5px;
}
#read-input {
    display: none;
}
#program-controls button:last-child {
    margin-right: 0px;
    padding-right: 3px;
}

 button:hover, button#clear:hover, button#load:hover {
    border-color: white;
}
.edit #edit {
    display: none;
}
#program #submit, #program #revert {
    display: none;
}
#program.edit #submit, #program.edit #revert {
    display: block;
}
.edit #edit {
    display: none;
}
.edit #source {
    padding: 0px;
    height: 580px;
}
#source {
    padding: 2px;
    font-family: var(--font2);
    font-size: 10pt;
    background-color:white;
    display: block;
    height: 576px;
}

#source .comment {
    color: green;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;  
}
#source .label {
    font-weight: bold;
}

#source .line {
    color: darkgrey;
    float: left;
    width: 29px;
}

#source .current, .word.current {
    background-color: orange;
}

#source .breakpoint .line {
    background-color: red;
    color: black;
}

#source .error {
    background-color: pink;
}

#source textarea {
    resize: none;
    font-family: var(--font2);
    font-size: 10pt;
    padding:2px; 
    border:0; 
    white-space:pre;
    height: 576px;
    width: 296px;
}

#source form {
    height: 576px;
}
#processor {
    display: block;
    width: 300px;
    position: absolute;
    left: var(--col2);
    top: 0px;
    height: 100%;
}

#processor .title {
    display: block;
}
    #registers {
        display: block;
        position: absolute;
    }
    #registers .title {
        font-size: var(--font-size2);
    }
    .register {
        display: block;
        width: 120px;
    }
    .register .name {
        font-family: var(--font2);
        color: white;
        float: left;
        width: 30px
    }

    .register .value {
        display: block;
        padding-right: 5px;
        width: var(--width2);
        float: left;
        text-align: right;
    }

    .flags {
        display: var(--flags);
        position: absolute;
        top: 240px;
        left: 130px;
    }
    .flags .title {
        font-size: var(--font-size2);
        position: absolute;
        top: 13px;
        width: 100px;
    }


    .flags .name, .flags .value {
        position: absolute;
        left: 80px;
        letter-spacing: 2px;
        font-family: var(--font2);
        padding-left:2px;
        padding-right:2px;
        display: inline;
    }
    .flags .name {
        top: 5px;
        display: block;
        color: white;
     }

     .flags .value {
        top: 20px;
     }

     .instruction {
         display: block;
         position: absolute;
         width: 200px;
         top: 190px;
         left: 130px;
     }

     .instruction .title {
         font-size: var(--font-size2);
         float: left;
         width: 50px;
     }

    .instruction .values {
        display: block;
        position: absolute;
        top: 5px;
        left: 80px;
        width: 110px;
    }

    .instruction #ur {
        display: var(--ur);
    }

     .counter {
         display: block;
         position: absolute;
         width: 140px;
         left: 130px;
         top: 140px;
     }
     .counter .value {
         position: absolute;
         top: 5px;
         left: 80px;
         width: 110px;
     }

     .counter .title {
         font-size: var(--font-size2);
     }
 
#run-controls {
    display: block;
    position: absolute;
    top: 30px;
    left: 130px;
}
#run-controls button, #irq button {
    float: left;
    padding: 0px;
    width: 50px;
    height: 50px;
    margin: 3px;
    opacity: 0.5;
}

.fa-gear#spinning, .fa-gear#static {
    position: absolute;
    top: 55px;
    left: 115px;
    display: none;
    font-size:36px;
    color: white;
    padding: 10px;
}
.running:not(.paused) .fa-gear#spinning {
    display: inline-block;
}
.paused .fa-gear#static {
    display: inline-block;
}

/* Running modes button enabling */
.ready #run, .ready #slow, .ready #step {
    opacity: 1;
}
.ready #run img:hover, .ready #slow img:hover, .ready #step img:hover {
    border: 1px solid white;
}
.running #pause, .running #stop, .running #slow, .running #step {
    opacity: 1;
}
.running #pause img:hover, .running #stop img:hover, .running #slow img:hover, .running #step img:hover {
    border: 1px solid white;
}
.paused #run, .paused #slow, .paused #step, .paused #stop {
    opacity: 1;
}
.paused #run img:hover, .paused #slow img:hover, .paused #step img:hover, .paused #stop img:hover {
    border: 1px solid white;
}
.slow #run, .slow #step, .slow #pause, .slow #stop{
    opacity: 1;
}
.slow #run img:hover, .slow #step img:hover, .slow #pause img:hover, .slow #stop img:hover {
    border: 1px solid white;
}
button#irq {
    display: none;
    position: absolute;
    top: 240px;
    left: 270px;
    padding: 0px;
    height: 50px;
}
.running #irq.enabled {
  display: block;
  opacity: 1;
}
.running #irq.enabled img:hover {
    border: 1px solid white;
}
button {
    border: none;
}
button img {
    border: none;
   width: 50px;
    height: 50px;
}

#io {
    display: block;
    position: absolute;
    top: 290px;
    left: var(--col2);
    width: 320px;
}
#pixels, #chars, #outer_console, #input, #input input {
    display: block;
    width: var(--width3);
    color: black;
    font-family: var(--font2);
}
#input input {
    border-style: solid;
    border-color: red;
    border-width: 2px;
}
#pixels, #chars {
    position: absolute;
top: 136px;
height: 240px;
}

#pixels div{
    background-color: white;
    float:left;
}

.pixels1 div {
    height: var(--pixelSize);
    width: var(--pixelSize);
}

.pixels2 div {
    height: calc(var(--pixelSize)*2);
    width: calc(var(--pixelSize)*2);
}

#chars {
    background: none;
    padding-left: 1px;
}
#chars div {
    height: calc(var(--pixelSize)*3);
    width: calc(var(--pixelSize)*2);
    float: left;
    font-size: 14px;
}
#chars div:empty {
    background:none;
    z-index: 2;
}

#console {
  resize: none;
  height: 61px;
  width: 315px;
}

#input {
    background-color: white;
    margin-top:5px;
    height: 20px;
  }

.memory {
    display: block;
    width: 410px;
    position: absolute;
    top: 0px;
    left: var(--col4);
}
.format {
    background-color: white;
    font-family: var(--font2);
}
.address {
    display: block;
color: white;
font-family: monospace;
float: left;
}

#page {
    display: block;
color: white;
font-family: monospace;
float: left;
    color: black;
    background: white;
    padding-left: 2px;
    padding-right: 2px;
    margin-left: 12px;
    margin-right: 10px;
    width: 22px;
}
#page input {
    font-family: var(--font2);
    font-size: 10pt;
    width:22px; 
    height:12px;
    padding: 0px;
    border: none;
}

.row .address {
    width: var(--width1);
}

.header .address, .word {
    font-family: monospace;
    width: var(--width2);
    padding-left: 5px;
    padding-right: 5px;
    text-align: right;
    float: left;
}
.page {
    display: block;

}

.table, .row, .header  {
    display: block;
}

.word {
    color: black;
    background: white;
}

button#clear {
    float: right;
    margin-right: 0;
    margin-top: 10px;
}
.links {
    position: absolute;
    top: 640px;
    font-family: var(--font1);
    font-size: var(--font-size2);
}
.links a {
    margin-right: 20px;
}
a:visited {
    color: white;
}

.credits {
    position: absolute;
    top: 610px;
    display: block;
    font-family: var(--font1);
    font-size: 12pt;
    color: white;
}

